#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <300>;
};

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        kp_lang: kp_lang {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp CAPS>;
            label = "KP_LANG";
        };

        to_lang: tog_lang {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&kp_lang &macro_param_1to1 &to MACRO_PLACEHOLDER>;
            label = "TOG_LANG";
        };

        hold_lang: mt_lang {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&kp_lang>,
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&kp_lang>;

            label = "MT_LANG";
        };

        mo_ru: mo_ru {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&to_lang 0>,
                <&macro_press>,
                <&macro_param_1to1 &mo MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &mo MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&to_lang 1>;

            label = "MO_RU";
        };
    };

    behaviors {
        my_n: my_n {
            compatible = "zmk,behavior-tap-dance";
            label = "MY_N";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&mt RCTRL N>, <&kp N>;
        };

        my_e: my_e {
            compatible = "zmk,behavior-tap-dance";
            label = "MY_E";
            #binding-cells = <0>;
            bindings = <&mt RIGHT_GUI E>, <&kp E>;

            tapping-term-ms = <300>;
        };

        my_i: my_i {
            compatible = "zmk,behavior-tap-dance";
            label = "MY_I";
            #binding-cells = <0>;
            bindings = <&mt RIGHT_ALT I>, <&kp I>;

            tapping-term-ms = <300>;
        };

        lt_en_lang: lt_en_lang {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_EN_LANG";
            bindings = <&mo>, <&to_lang>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
        };

        mt_ru: mt_ru {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_RU";
            bindings = <&hold_lang>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
        };

        lt_ru_lang: lt_ru_lang {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_RU_LANG";
            bindings = <&mo_ru>, <&to_lang>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        en {
            bindings = <
&to 0           &none    &kp W       &kp F       &kp P          &kp B                                                &kp J  &kp L       &kp U      &kp Y          &none    &none
&none           &lt 4 A  &mt LALT R  &mt LGUI S  &mt LCTRL T    &kp G                                                &kp M  &my_n       &my_e      &my_i          &lt 5 O  &none
&kp LEFT_ARROW  &none    &kp X       &kp C       &kp D          &kp V                                                &kp K  &kp H       &kp Z      &kp Q          &none    &kp RIGHT_ARROW
                         &kp LG(C)   &kp LG(V)   &kp BACKSPACE  &lt_en_lang 3 1  &mt LSHFT SPACE    &mt RSHFT ENTER  &mo 2  &kp DELETE  &kp LG(Z)  &kp LS(LG(Z))
            >;

            display-name = "Base";
        };

        ru {
            display-name = "Ru";
            bindings = <
&trans  &kp RU_CYRILLIC_TSE  &kp RU_CYRILLIC_SHA         &kp RU_CYRILLIC_EF            &kp RU_CYRILLIC_ER           &kp RU_CYRILLIC_BE                     &kp RU_CYRILLIC_ZHE  &kp RU_CYRILLIC_EL           &kp RU_CYRILLIC_I           &kp RU_CYRILLIC_U                &kp RU_CYRILLIC_SOFT_SIGN  &kp RU_CYRILLIC_HARD_SIGN
&trans  &lt 4 RU_CYRILLIC_A  &mt_ru LALT RU_CYRILLIC_YA  &mt_ru LGUI RU_CYRILLIC_YERU  &mt_ru LCTRL RU_CYRILLIC_TE  &kp RU_CYRILLIC_GHE                    &kp RU_CYRILLIC_EM   &mt_ru RCTRL RU_CYRILLIC_PE  &mt_ru RGUI RU_CYRILLIC_IE  &mt_ru RALT RU_CYRILLIC_SHORT_I  &lt 5 RU_CYRILLIC_O        &kp RU_CYRILLIC_E
&trans  &kp RU_CYRILLIC_CHE  &kp RU_CYRILLIC_HA          &kp RU_CYRILLIC_ES            &kp RU_CYRILLIC_DE           &kp RU_CYRILLIC_VE                     &kp RU_CYRILLIC_KA   &kp RU_CYRILLIC_EN           &kp RU_CYRILLIC_ZE          &kp RU_CYRILLIC_YU               &kp RU_CYRILLIC_SHCHA      &trans
                             &trans                      &trans                        &trans                       &lt_ru_lang 3 0      &trans    &trans  &mo_ru 2             &trans                       &trans                      &trans
            >;
        };

        spec {
            bindings = <
&trans  &kp GT    &kp RBKT   &kp RPAR   &kp RBRC  &kp DQT                      &trans        &kp K_VOL_DN      &kp K_VOL_UP   &kp C_MUTE       &trans          &trans
&trans  &lt 4 LT  &kp LBKT   &kp LPAR   &kp LBRC  &kp APOS                     &out OUT_USB  &mt RCTRL C_PREV  &mt RGUI C_PP  &mt RALT C_NEXT  &lt 5 PSCRN     &trans
&trans  &kp AT    &kp UNDER  &kp PRCNT  &kp DLLR  &kp GRAVE                    &out OUT_BLE  &bt BT_SEL 0      &bt BT_SEL 1   &bt BT_SEL 2     &bt BT_CLR_ALL  &trans
                  &trans     &trans     &trans    &mo 3      &trans    &trans  &trans        &trans            &trans         &trans
            >;
        };

        fn {
            bindings = <
&trans  &kp ESC    &kp F7       &kp F8       &kp F9        &kp F10                    &kp CARET  &kp MINUS      &kp PLUS        &kp EQUAL       &kp ASTRK   &trans
&trans  &lt 4 TAB  &mt LALT F4  &mt LGUI F5  &mt LCTRL F6  &kp F11                    &kp FSLH   &mt RCTRL DOT  &mt RGUI COMMA  &mt RALT COLON  &lt 5 SEMI  &kp NUBS
&trans  &trans     &kp F1       &kp F2       &kp F3        &kp F12                    &kp HASH   &kp EXCL       &kp QMARK       &kp AMPS        &kp PIPE    &trans
                   &trans       &trans       &trans        &mo 3    &trans    &trans  &trans     &trans         &trans          &trans
            >;
        };

        nav {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP  &kp RC(END)  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &kp LEFT  &kp DOWN       &kp UP       &kp RIGHT    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans    &trans         &trans       &trans       &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans         &trans       &trans
            >;
        };

        num {
            bindings = <
&trans  &trans  &kp N7  &kp N8  &kp N9  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp N0  &kp N4  &kp N5  &kp N6  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp N1  &kp N2  &kp N3  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
